#back-to-rooms-button {
  margin-top: 20px;
}

#players-list {
  flex-direction: column;
}

#players-list> .player-info+ .player-info {
  margin-top: 40px;
}

#create-room-input {
  height: 39px;
  width: 240px;
  font-size: 16px;
}

#ready-button {
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 32px;
  background-color: var(--main-button-background-color);
  border: 1px solid var(--main-button-border-color);
}

#right-game-side {
  margin-left: 200px;
}

#words-box {
  position: relative;
  width: 700px;
  height: 700px;
  margin-right: 100px;
  border: 1px solid var(--input-border-color);
}

#countdown {
  font-size: 40px;
  font-style: italic;
}

#text-container {
  font-size: 20px;
  width: 300px;
  text-align: justify;
}

#game-timer {
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
}

#typed-letters {
  background-color: green;
}

#next-letter {
  text-decoration: underline;
}

#text-container span {
  margin: 0;
  padding: 0;
}

/* Commentory bot */

.commentator-wrp {
  position: absolute;
  right: 30px;
  top: 30px;
}

.commentator-wrp .comment {
  font-size: 14px;
  padding: 20px;
  background-color: var(--comment-bg);
  border-radius: 10px;
  width: 270px;
  position: relative;
  text-align: center;
  white-space: pre-wrap;
}

.commentator-wrp .comment::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -15px;
  left: 70px;
  background-color: var(--comment-bg);
  height: 30px;
  width: 20px;
  border-bottom-right-radius: 100px;
}

.commentator-wrp img {
  width: 100px;
  height: 100px;
}

.player-info> .player-name::before {
  position: relative;
  display: inline-block;
  content: " ";
  right: 10px;
  top: 4.5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: red;
}

.player-info.ready> .player-name::before {
  position: relative;
  display: inline-block;
  content: " ";
  right: 10px;
  top: 4.5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: green;
}

.player-info.you> .player-name::after {
  display: inline;
  content: ' (you)';
  font-style: italic;
  color: lightseagreen;
}

.player-progress-wrapper {
  margin-top: 20px;
  width: 500px;
  height: 35px;
  border: 1px solid var(--input-border-color);
}

.player-progress {
  background-color: forestgreen;
  height: 100%;
}

.player-progress.full {
  background-color: greenyellow;
}
